<p>employee-list works!</p>
<h2>employee-list with age</h2>
<ul *ngFor="let employee of employees">
    <li>{{employee.name}} - {{employee.age}}</li>
</ul>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Sl.No</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.age}}</td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-sm-4"  *ngFor="let employee of employees">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><img src={{employee.photo}}/></h5>
          <h5 class="card-title">{{employee.id}}</h5>
          <h5 class="card-title">Name: {{employee.name}}</h5>
          <h5 class="card-title">{{employee.age}}</h5>
        </div>
      </div>
    </div>
  </div>